<% @users.each do |user| %>

<div style="display:flex; justify-content:space-around"> 
  <img src="<%= user.photo %>" width="100">
  <div>
    <h4><%= user.name %></h4>
    <p style="text-align:right"> Number of posts: <%= user.posts_counter%></p>
  </div>
 </div>
 <br>
<% end %>