<%= render partial: 'users/user', object: @user %>
<% @user.posts.each do |post| %>
  <%= render post%>
  <%= render partial: 'shared/comment', collection: post.recent_comments %>
<% end %>

<div class="text-center my-3">
  <button>Pagination</button>
</div>
 