<%= render partial: 'users/user', object: @user %>
<% @user.posts.each do |post| %>
  <%= render post%>
  <%= render partial: 'shared/comment', collection: post.recent_comments %>
<% end %>
<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
Pagination</button>

<div class="bg-gray-500">dsadsa</div>